body {
	background-color:lightgray
;
}

/* Navigation Section */
nav.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #DDD;
	z-index: 9999;
	display: block;
}

.top-navigation > .content {
	height: 4.375rem;
}

@media (min-width: 48rem)
.content {
	width: 46rem;
}

.content {
	padding:0 0.938rem;
	margin:0 auto;
	min-width:37.5rem;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 1.563rem;
	font-family: 'Roboto', sans-serif
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}
.top-navigation .links > .active {
	color:#4c5058;
	font-weight:500;
}
.top-navigation .links {
	float:right;
	color:#838994;
	font-size:1.04rem;
	margin-top:1.7rem;
}
